@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=DotGothic16&family=Jost:wght@300&family=Lato:wght@700&family=Lobster&family=Rubik+Iso&display=swap');

body {
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    font-family: Jost, sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
}

.infos-landing {
    position: absolute;
    height: 100%;
    width: 90%;
    background-image: linear-gradient(to right,  #1b2029 55%, transparent);   
    left: 0px;
    top: 0px;
    z-index: 9;
}

.img-landing {
    position: absolute;
    justify-content: right;
    height: 100%;
    width: 60%;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
}

.img-landing img {
    filter: brightness(40%);
}

.nome-site-landing {
    margin-left: 40px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: Bungee shade, sans-serif;
    color: bisque;
    font-size: 50px;
    gap: 40px;
    line-height: 90px;
}

.nome-site-landing img{
    animation: jumping 3s linear infinite;
    margin-left: 20px;
}

@keyframes jumping {
    from {transform: translateY(-7px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-7px);}
}

.login-landing {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    width: 50%;
    height: 250px;
    align-items: center;
    gap: 15px;
    color: bisque;
}

.email-landing, .senha-landing {
   height: 35px;
   width: 40%;
   outline: none;
   border: 1.5px solid bisque;
   background-color: transparent;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.email-landing input {
    width: 90%;
}

.email-landing input, .senha-landing input {
    background-color: transparent;
    font-size: 15px;
    color: bisque;
    padding: 0px 10px;
    height: 90%;
    border: none;
    outline: none;
}

.senha-landing button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 15%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.entrar {
    margin-top: 10px;
    height: 30px;
    width: 18%;
    border: none;
    background-color: bisque;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.criar-conta {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    color: bisque;
    text-decoration: none;
}

.info-jogo-landing {
    position: absolute;
    flex-direction: column;
    text-align: right;
    right: 1%;
    bottom: 20%;
    display: flex;
    gap: 20px;
    color: bisque;
    font-weight: bolder;
    font-size: large;
}

.info-jogo-landing label {
    padding: 5px;
    border-right: 5px solid bisque;
}

/* Responsividade */

@media screen and (min-width: 1700px) /*TELA FULL HD*/{
    .nome-site-landing {
        margin-left: 70px;
        margin-top: 115px;
        width: 50%;
        font-size: 75px;
        gap: 50px;
        line-height: 135px;
    }
    
    .login-landing {
        margin-left: 35px;
        margin-top: 100px;
        width: 53%;
        height: 30%;
        gap: 23px;
    }
    
    .email-landing, .senha-landing {
        height: 18%;
        width: 37%;
        border: 2.5px solid bisque;
        border-radius: 8px;
     }

     .email-landing input, .senha-landing input {
        font-size: 23px;
        padding: 0px 12px;
        height: 90%;
    }

    .senha-landing button {
        width: 10%;
        margin-right: 12px;
    }

    .entrar {
        margin-top: 15px;
        height: 44px;
        width: 17%;
        border-radius: 7px;
        font-size: 22px;
    }

    .criar-conta {
        font-size: 22px;
    }

    .info-jogo-landing label {
        padding: 5px;
        font-size: 28px;
    }
}

