@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jost:wght@300&family=Lato:wght@700&family=Lobster&display=swap');

/*#FFE4C4*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #1b2029;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 122, 126);
}

body {
    padding: 0px;
    margin: auto;
    background-color: rgb(22, 20, 20);
    z-index: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
}

* {
    font-family: Jost, sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    background-color: #1b2029;
    z-index: 2;
    box-shadow: 0 0 15px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    margin-left: 30px;
    width: 5%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.input-header {
    background: bisque;
    height: 40%;
    min-width: 2%;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn{
    color: #1b2029;
    float: right;
    width: 5%;
    height: 90%;
    border-radius: 50%;
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #1b2029;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.input-header:hover > .search-txt{
    width: 240px;
    padding: 0 8px;
}

.input-header:hover > .search-btn{
    background: bisque;
}

.open-modal-button {
    width: 5%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.modal-container, .modal-container2 {
    width: 100%;
    height: 100%;   
    position: fixed;
    left: 0;
    top: 0;   
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.modal-container2 {
    background: rgba(50, 50, 50, 0.45);
    backdrop-filter: blur(10px);
}

.modal-show, .modal-show2 {
    opacity: 1;
    pointer-events: auto;
}

.jogo, .modal {
    opacity: 0;
}

.modal-show2 > .jogo{
    border-radius: 5px;
    height: 85%;
    width: 70%;
    transform: scale(1);
    opacity: 0;
    background-color: #1b2029;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.img-jogo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 122, 126);
    top: -20%;
    right: -10%;
}

.info-jogo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: bisque;
}

.nome-jogo {
    font-size: 40px;
    font-weight: bolder;
}

.desc {
    width: 80%;
    margin-top: 40px;
    word-wrap: break-word;
}

.notas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 80%;
    margin-top: 40px;
    font-size: 25px;
}

.notas label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.modal-show > .modal {
    position: absolute;
    right: 25px;
    top: 90px;
    border-radius: 5px;
    height: 65%;
    width: 20%;
    transform: scale(1);
    opacity: 0;  
    box-shadow: 0 0 15px black;
    background-color: rgb(0, 122, 126);
    display: flex;  
    flex-direction: column;
    align-items: center;
    color: bisque;
    z-index: 999;
    opacity: 1;
}

.modal hr {
    width: 90%;
    border: 1px solid #1b2029;
    margin-block: 25px;
}

.modal label {
    margin-top: 35px;
    font-size: 20px;
}

.perfil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #1b2029;
    margin-top: 20px;
}

.cor-site button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    margin-top: 0px;
}

#cor-um {
    background-color: bisque;
    color: #1b2029;
}

#cor-dois {
    background-color: #1b2029;
    color: bisque;
}

#body {
    background-color: rgb(20, 20, 20);
}

.opcoes {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 10%;
}

.opcoes button:hover {
    transform: scale(1.2);
}

.opcoes button {
    width: 25%;
    height: 60%;
    border: 1.5px solid bisque;
    color: bisque;
    background-color: transparent;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-principal {
    margin-top: 13%;
    width: 80%;
    background-color: #1b2029;
    z-index: 1;
    border-radius: 15px;
}

.logo {
    width: 100%;
    background-color: #1b2029;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, transparent, bisque, transparent);
    border-image-slice: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-size: 50px;
    font-family: Bungee shade, sans-serif;
}

#lista-jogo {   
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.jogo-index {
    width: 17%;
    height: 230px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: bisque;
    border: none;
}

.abrir-jogo {
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 2px;
}

footer {
    margin-top: 4%;
    bottom: 0px;
    width: 90%;
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(0, 122, 126);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: bisque;
    font-size: 17px;
}

footer img {
    animation: jumping 3s linear infinite;
}

@keyframes jumping {
    from {transform: translateY(-5px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-5px);}
}

footer label {
    width: 25%;
    display: flex;
    justify-content: center;
}

/*responsividade*/

@media screen and (min-width: 1700px){
    header {
        box-shadow: 0 0 25px black;
    }
    
    .input-header:hover > .search-txt{
        width: 480px;
        padding-left: 20px;
    } 

    .input-header {
        height: 40%;
        min-width: 2%;
        border-radius: 60px;
        font-size: 30px;
        padding: 20px;
    }

    .search-txt {
        color: #1b2029;
        font-size: 32px;
        font-weight: 800;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }

    .cor-site button {
        height: 60px;
        width: 60px;
    }

    .modal-show2 > .jogo{
        border-radius: 15px;
    } 

    .circle {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: rgb(0, 122, 126);
        top: -20%;
        right: -10%;
    }

    .nome-jogo {
        font-size: 90px;
    }

    .genero-jogo {
        font-size: 35px;
    }

    .desc {
        font-size: 35px;
    }

    .notas {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        width: 80%;
        margin-top: 80px;
        font-size: 60px;
    }

    .notas img {
        height: 70%;
    }

    .notas label {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .div-principal {
        border-radius: 22.5px; 
    }

    .logo {
        height: 255px;
        border-top-right-radius: 22.5px;
        border-top-left-radius: 22.5px;
        font-size: 100px;
    }

    #lista-jogo {   
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding-bottom: 25px;
        flex-wrap: wrap;
    }

    .jogo-index {
        height: 465px;
        margin-top: 30px;
        border-radius: 6px;
    }
    
    .modal-show > .modal {
        right: 45px;
        top: 185px;
        border-radius: 15px;
    }

    .modal hr {
        width: 90%;
        border: 1px solid #1b2029;
        margin-block: 25px;
    }
    
    .modal label {
        margin-top: 60px;
        font-size: 35px;
    }
    
    .perfil {
        height: 225px;
        width: 225px;
        border-radius: 50%;
        background-color: bisque;
        margin-top: 40px;
    }
    
    .opcoes button:hover {
       transform: scale(1.2);
    }
    
    .opcoes button {
        border-radius: 45px;
        font-size: 25px;
        height: 65%;
    }

    footer {
        height: 260px;
        font-size: 35px;
        border-top-right-radius: 22.5px;
        border-top-left-radius: 22.5px;
    }

}


