@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jost:wght@300&family=Lato:wght@700&family=Lobster&display=swap');

/*#FFE4C4*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #1b2029;
}

::-webkit-scrollbar-thumb {
    background-color: bisque;
}

body {
    padding: 0px;
    margin: auto;
    background-color: #1b2029;
    z-index: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden; 
}

* {
    font-family: Jost, sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    background-color: rgb(0, 122, 126);
    z-index: 2;
    box-shadow: 0 0 15px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    margin-left: 30px;
    width: 5%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.input-header {
    background: bisque;
    height: 40%;
    min-width: 2%;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn{
    color: #1b2029;
    float: right;
    width: 5%;
    height: 90%;
    border-radius: 50%;
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #1b2029;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.input-header:hover > .search-txt{
    width: 240px;
    padding: 0 8px;
}

.input-header:hover > .search-btn{
    background: bisque;
}

.open-modal-button {
    width: 5%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.modal-container, .modal-container2 {
    width: 100%;
    height: 100%;   
    position: fixed;
    left: 0;
    top: 0;   
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.modal-container2 {
    background: rgba(50, 50, 50, 0.45);
    backdrop-filter: blur(10px);
}
  
.modal-show, .modal-show2 {
    opacity: 1;
    pointer-events: auto;
}

.modal-show2 > .jogo{
    border-radius: 5px;
    height: 75%;
    width: 33%;
    transition: all .5s;
    transform: scale(1);
    background-image: linear-gradient(to bottom, rgb(0, 122, 126), #1b2029);
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
    justify-content: center;
    opacity: 1;
} 

#nome-add-jogo, #genero-add-jogo, #desc-add-jogo, #nota-add-jogo {
    font-size: 18px;
    width: 60%;
    outline: none;
    border: none;
    border-left: 5px solid bisque;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, bisque, transparent);
    border-image-slice: 1;
    color: bisque;
    padding-left: 5px;
    background-color: transparent;
}

.jogo input::placeholder {
    font-size: 15px;
    color: bisque;
}

#nota-add-jogo {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

#nota-add-jogo input {
    width: 50%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    color: bisque;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type='file'] {
    display: none;
}

.jogo label {
    height: 5%;
    width: 30%;
    background-color: transparent;
    border: 1.5px solid bisque;
    border-left: 5px solid bisque;
    color: bisque;
    padding: 5px 5px;
    text-align: center;
    cursor: pointer;
}

#add-jogo {
    margin-top: 20px;
    height: 7%;
    width: 20%;
    border: none;
    background-color: bisque;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.jogo, .modal {
    opacity: 0;
}

.modal-show > .modal {
    position: absolute;
    right: 25px;
    top: 90px;
    border-radius: 5px;
    height: 65%;
    width: 20%;
    transition: all .5s;
    transform: scale(1);
    opacity: 0;  
    box-shadow: 0 0 10px black; 
    background-color: #1b2029;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: bisque;
    z-index: 999;
    opacity: 1;
}

.modal hr {
    width: 90%;
    border: 1px solid bisque;
    margin-block: 25px;
}

.modal label {
    margin-top: 35px;
    font-size: 20px;
}

.perfil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: bisque;
    margin-top: 20px;
}

.cor-site button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    margin-top: 0px;
}

#cor-um {
    background-color: bisque;
    border: 1px solid #1b2029;
}

.bisque {
    background-color: bisque;
}

#cor-dois {
    background-color: black;
}

.black {
    background-color: rgb(22, 20, 20);
}

.opcoes {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 10%;
}

.opcoes button:hover {
   transform: scale(1.2);
}

.opcoes button {
    width: 25%;
    height: 60%;
    border: 1.5px solid bisque;
    color: bisque;
    background-color: transparent;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-principal {
    margin-top: 13%;
    width: 80%;
    background-color: rgb(0, 122, 126);
    z-index: 1;
    border-radius: 15px; 
}

.logo {
    height: 150px;
    width: 100%;
    background-color: rgb(0, 122, 126);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, transparent, bisque, transparent);
    border-image-slice: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-size: 50px;
    font-family: Bungee shade, sans-serif;
}

#lista-jogo {   
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.jogo-index {
    width: 17%;
    height: 230px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
}

.abrir-add {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: none;
    width: 17%;
    height: 230px;
    margin-top: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 4%;
    bottom: 0px;
    width: 90%;
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

/*responsividade*/

@media screen and (min-width: 1900px){
    header {
        box-shadow: 0 0 25px black;
    }
    
    .input-header:hover > .search-txt{
        width: 480px;
        padding-left: 20px;
    } 

    .input-header {
        height: 40%;
        min-width: 2%;
        border-radius: 60px;
        font-size: 30px;
        padding: 20px;
    }

    .search-txt {
        color: #1b2029;
        font-size: 32px;
        font-weight: 800;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }

    .modal-show2 > .jogo{
        border-radius: 15px;
    } 

    #nome-add-jogo, #genero-add-jogo, #desc-add-jogo, #nota-add-jogo {
        font-size: 30px;
        border-left: 10px solid bisque;
        padding-left: 15px;
    }
    
    .jogo input::placeholder {
        font-size: 30px;
    }
    
    #nota-add-jogo input {
        font-size: 30px;
    }

    .jogo label {
        border-left: 10px solid bisque;
        padding: 10px 10px;
        font-size: 30px;
    }

    #add-jogo {
        margin-top: 40px;
        height: 7%;
        width: 20%;
        border-radius: 15px;
        font-size: 30px;
        font-weight: 800;
    }

    .div-principal {
        border-radius: 22.5px; 
    }

    .logo {
        height: 255px;
        border-top-right-radius: 22.5px;
        border-top-left-radius: 22.5px;
        font-size: 100px;
    }

    #lista-jogo {   
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding-bottom: 25px;
        flex-wrap: wrap;
    }

    .jogo-index {
        height: 465px;
        margin-top: 30px;
        border-radius: 6px;
    }

    .abrir-add {
        width: 17%;
        height: 465px;
        margin-top: 30px;
        border-radius: 6px;
    }
    
    .modal-show > .modal {
        right: 45px;
        top: 185px;
        border-radius: 15px;
    }
    
    .modal hr {
        margin-top: 45px;
    }
    
    .modal label {
        margin-top: 60px;
        font-size: 35px;
    }
    
    .perfil {
        height: 225px;
        width: 225px;
        border-radius: 50%;
        background-color: bisque;
        margin-top: 40px;
    }
    
    .opcoes button:hover {
       transform: scale(1.2);
    }
    
    .opcoes button {
        border-radius: 45px;
        font-size: 25px;
        height: 65%;
    }

    footer {
        height: 260px;
        font-size: 35px;
        border-top-right-radius: 22.5px;
        border-top-left-radius: 22.5px;
    }

}
